.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 20px 0;
  font-family: "Arial", sans-serif;
}

.pagination button {
  padding: 8px 16px;
  background-color: #d32f2f;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pagination button:hover {
  background-color: #e57373;
}

.pagination button:disabled {
  background-color: #b0b0b0;
  cursor: not-allowed;
}

/* Responsividad */
@media (max-width: 768px) {
  .pagination button {
    padding: 6px 12px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .pagination button {
    padding: 4px 10px;
    font-size: 10px;
  }
}
